<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Nu ești autorizat să accesezi această pagină.</h2>
        <p>Apasă butonul pentru a fi redirecționat la pagina principală</p>
        <hr />
        <p>
            <a asp-controller="Carti" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>