<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Felicitări.Contul dumneavoastră a fost creeat cu succes!</h2>
        <p>Acum va puteti autentifica la contul dumneavoastră</p>
        <hr />
        <p>Vă mulțumim!</p>
    </div>
</div>