<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Comanda finalizata cu succes</h2>
        <p>Vă puteți verifica toate comenzile în secțiunea Orders din profilul dumneavoastră</p>
        <hr />
        <p>Vă mulțumim!</p>
    </div>
</div>